<button class="btn btn-outline-primary" (click)="openAgendar(content)">Agendar Cita</button>
<hr>
<table class="col-12">
    <tr>
        <th>Fecha</th>
        <th>Paciente</th> 
        <th>Edad</th>
        <th>Editar</th>
        <th >Eliminar</th>
    </tr>
    <tr *ngFor="let cita of citas">
      <td>{{cita.Fecha}}</td>
      <td>{{cita.Paciente.Nombre}}</td>
      <td>{{cita.Paciente.Edad}}</td>
      <td><button (click)="editarCita(cita.Id, cita);" class="btn btn-link">Editar</button></td>
      <td><button (click)="eliminarCita(cita.Id);" class="btn btn-link">Eliminar</button></td>
    </tr>
</table>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{accion}} la cita</h4>

        <!-- <select [(ngModel)]="laCita.PacienteId">
            <option *ngFor="let p of pacientes" [value]="p.id">
                {{p.Nombre}}
            </option>
        </select> -->
        
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>En construcción&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>

<pre>{{closeResult}}</pre>