<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ClinicaEntities" connectionString="metadata=res://*/ClinicaDataModel.csdl|res://*/ClinicaDataModel.ssdl|res://*/ClinicaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-84T7OLL\SQLEXPRESS;initial catalog=Clinica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>